[navbar]
==
{% set navbar = navbar.navbar%}
{% set navs = navbar|last %}

<!-- <div class="navbar-container">
    <div class="navbar-logo">
        <img src="{{navs.logo.thumb(150, auto)}}" alt="">
    </div>
    <div class="navigation-links">
        <ul class="navbar-links">
            {% for nav in navs.link %}
            <a href="#{{nav.link}}" class="navbar-link">
                <li>{{nav.name}}</li>
            </a>
            {% endfor %}
        </ul>
    </div>
    
</div> -->

<div class="navbar-container">
    <div class="navbar-logo">
        <img src=" {{navs.logo.path}}" alt="" class="navbar-logo-img">

    </div>
    <div class=" burger" onclick="document.getElementById('burger').classList.add('navigation-links-set')"></div>

    <div class="navigation-links" id="burger">
        <div class=" burger" onclick="document.getElementById('burger').classList.remove('navigation-links-set').classList.add('navigation-links');
            document.getElementById('burger').style.animationName = 'reverse-hamburger'">
        </div>

        <div class=" nav">
            <ul class="navbar-links">
                {% for nav in navs.link %}
                <a href="#{{nav.link}}" class="navbar-link"
                    onclick="document.getElementById('burger').classList.remove('navigation-links-set').classList.add('navigation-links')">
                    <li class="link-item">{{nav.name}}</li>
                </a>
                {% endfor %}
            </ul>
        </div>

        <div class="navbar-logo-burger">
            <img src=" {{navs.logo.path}}" alt="" class="navbar-logo-img-second">

        </div>
    </div>
</div>